@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/*Root Values*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
}

/*Page Body*/
body {
  background: lightBlue url(background-img.jpg) repeat;
  background-size: 200px 200px;
}
#container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin: 20px auto 20px auto;
  box-shadow: 0 4px 10px;
  width: 60rem;
}
/*Image*/
#img-div {
  width: 100%;
}
#image {
  display: block;
  width: 30rem;
}
/*Text Content*/
#text-content {
  margin: 1rem;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}
#title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin: 0.3rem 0.5rem 0.5rem 0.8rem;
}
#description {
  font-size: inherit;
}
h2 {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
}
ul {
  list-style: none;
  margin-top: 0.5rem;
}
#link-div {
  text-align: center;
}
#wiki-img {
  margin-top: 1rem;
  height: 4.2rem;
}
/*Media Queries*/
@media (min-width: 320px) {
  * {
    font-size: 12px;
  }
}
@media (min-width: 481px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 641px) {
  * {
    font-size: 12px;
  }
}
@media (min-width: 1001px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 1281px) {
  * {
    font-size: 20px;
  }
}
@media (max-width: 740px) {
  #container {
    grid-template-columns: auto;
    max-width: 30rem;
  }
  * {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  * {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  * {
    font-size: 10px;
  }
}
